<style>

</style>
<body>
    <h2>BUSCAMINAS LG</h2> 
<table>
    <tr *ngFor="let row of matriz.cell; index as y">
        <td *ngFor="let cell of row; index as x"
        (click)="checkCell(cell)" (contextmenu)="$event.preventDefault(); flag(cell)" >

        <div *ngIf="cell.status === 'clear' && !cell.mineStatus">{{ cell.mines }}</div>

      <div *ngIf="cell.status === 'flag'">
        <img src="../assets/flag.ico">
      </div>
      <div *ngIf="cell.mineStatus && cell.status === 'clear'">
        <img src="../assets/minee.ico">
      </div>

    </td>
</tr>
</table>
<button (click)="new()">Volver a jugar</button>
</body>
