body{
    background-color: rgba(97, 164, 219, 0.609);
    border-radius: 15%;
    border-style:hidden;
}
table
{
    background-color: rgb(23, 27, 24);
    margin: auto;
    vertical-align: middle;
    border: 5;
}
td 
{
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(255, 0, 0, 0.308);
    border-collapse: collapse;
    width:35px;
    height:35px;

}
tr 
{
    align-self: start;
    
}
h2
{
    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
}